#one
{
background-color:red;
  color:white;
  padding:6%;
  margin:6%;
  border: 4px solid black;
}
#two
{
background-color:red;
  color:white;
  padding:6%;
  margin:6%;
  border: 4px solid black;
}
h1{
  color:green;
  font-family:lucida;
  font-weight:900;
}
span{
color:white;
  background-color:grey;
  padding:4%;
  margin:3%;
transition:all 0.4s ease-in-out
}
span:hover{
  border-radius:25px;
  background-color:black;
}

